@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

.im-fell-dw-pica-regular {
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
  padding: 20px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
}
