@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

.im-fell-dw-pica-regular {
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
  padding: 20px;
  background-color: #121114;
  color: #ed1f37;
}

button {
  cursor: pointer;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #121114;
  color: #ed1f37;
  border: 1px solid #ed1f37;
  transition: background-color 0.5s ease;
  margin-bottom: 15px;
}

button:hover {
  background-color: #ed1f37;
  color: #121114;
  border: 1px solid white;
}

#cards {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  overflow: hidden;
  padding: 20px 0;
}

#cards img {
  max-height: 100%;
  max-width: 25vw;
  object-fit: contain;
}
